.Caja{
    width: 1400px;
    height: 408px;
    display: flex;
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 30px auto;
}

.Caja img{
    width: 700px;
    height: 408px;
}

.Caja div{
    padding: 10px;
    margin: 65px auto;
}

.Caja h2{
    font-size: 30px;
    padding: 0px 100px;
}

.Caja p{
    font-size: 19px;
    padding: 0px 90px;
}

#Caja_1{
    background-color: #1e3932;
}

#Caja_2{
    background-color: #0044b4;
}

#Caja_3{
    background-color: #d50032;
}

#Caja_4{
    background-color: #1e3932;
}

#Caja_5{
    background-color: #d50032;
}

/* Ocultar el checkbox */
.hidden-checkbox {
    display: none;
}

/* Estilo del botón */
.btn {
    display: inline-block;
    background: none;
    border: 1px solid;
    padding: 7px 16px;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1;
    transition: all 0.2s ease;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    color: inherit;
}